span.negation {
    background-color: #ff8fab;
}

span.uncertainty {
    background-color: #a9eca2;
}

span.family {
    background-color: #f6bc66;
}

span.additional {
    background-color: #33ccff;
}